{% extends 'app/base.html' %}
{% block content %}

	<div class="row justify-content-center">
		<div class="col-lg-4 col-lg-offset-4" id="content">
			<h2 style="text-align: left"><b>Task: </b>{{ task }}</h2>
			<div class="list-group t20">
				{% if task.description %}
					<textarea class="list-group-item">{{ task.description }}</textarea>
				{% else %}
					<p class="list-group-item">{{ description }}</p>
				{% endif %}
			</div>
			<div style="display: flex; justify-content: space-between; align-items: center;">
				<a href="{% url 'index' %}" title="" class="btn btn-dark">Go back</a>
				<a href="{% url 'update' task.id %}" title="" class="btn btn-dark">Edit</a>
				<a href="{% url 'delete' task.id %}" title="" class="btn btn-warning">Delete</a>
			</div>
		</div>
	</div>

{% endblock %}
