<h6>Hello, <span style='color:dodgerblue'>{{ request.user|title }}</span></h6>

{% if tasks %}
	<h5 style="margin:0">
		{% if count > 0 %}
			You have
			<span style='color:red'>{{ count }}</span>
			incomplete task{{ count|pluralize:"s" }}.
		{% endif %}
		<br/>
	</h5>
{% else %}
	<br/>
{% endif %}

<div class="mt-2 pt-2 border-top">
	{% if request.user.is_authenticated %}
		<button type="button" class="btn btn-primary btn-sm">Logout</button>
	{% else %}
		<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Login</button>
	{% endif %}
</div>


