<h6>Hello, <span>{{ request.user|title }}</span></h6>

{% if tasks %}
	<h5 style="margin:0">
		{% if count > 0 %}
			You have
			<span style='color:red'>{{ count }}</span>
			incomplete task{{ count|pluralize:"s" }}.
		{% endif %}
		<br/>
	</h5>
{% else %}
	<br/>
{% endif %}

<div class="mt-2 pt-2 border-top">
	{% if request.user.is_authenticated %}
		<a href="{% url 'logout' %}" class="btn btn-secondary btn-sm logout">Logout</a>
	{% else %}
        <a href="{% url 'login' %}" class="btn btn-secondary btn-sm login" data-bs-dismiss="toast">Login</a>
	{% endif %}
</div>


