body {
    background: rgba(44, 62, 80, .8);
    font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
    margin-top: 10% !important;
}

#content {
    background: beige;
    padding: 25px;
}

#content > h2 {
    font-size: 18px;
    text-align: center;
    padding-top: 0;
}

.t10 {
    margin-top: 10px;
}

.t20 {
    margin-top: 20px;
}

.todo-completed {
    text-decoration: line-through;
    background: rgba(149, 165, 166, .3);
    color: black;
}

footer {
    margin-top: 20px;
    color: white;
}

.list-group-item {
    color: black;
}

/* hover effect */
a {
    color: #54b3d6;
}

.todo-uncompleted {
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: box-shadow .3s ease-in-out;
}

.todo-uncompleted:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: #fff;
}



